
@{
    Layout = "~/Views/Shared/Header.cshtml";
    ViewBag.Title = "Index";

}
<!doctype html>
<html class="no-js" lang="zxx">

<body>

    <!-- slider_area_start -->
    <div class="slider_area">
        <div class="slider_active owl-carousel">
            <div class="single_slider  d-flex align-items-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>
                                    <span>Order Tshirt</span> <br>
                                    Give Order Us
                                </h3>
                                <p>
                                    You can get Our Tshirt Or You Can Give Your Order Us<br> We are
                                    Complete Your Order Few Days and We can Delevery The Order
                                </p>
                                <a href="#" class="boxed-btn3">Request Your Order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_1">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="slider_text ">
                                <h3>
                                    <span>Order Tshirt</span> <br>
                                    Give Order Us
                                </h3>
                                <p>
                                    You can get Our Tshirt Or You Can Give Your Order Us<br> We are
                                    Complete Your Order Few Days and We can Delevery The Order
                                </p>
                                <a href="#" class="boxed-btn3">Request Your Order</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_slider  d-flex align-items-center slider_bg_2">
                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <<div class="col-xl-12">
                                <div class="slider_text ">
                                    <h3>
                                        <span>Order Tshirt</span> <br>
                                        Give Order Us
                                    </h3>
                                    <p>
                                        You can get Our Tshirt Or You Can Give Your Order Us<br> We are
                                        Complete Your Order Few Days and We can Delevery The Order
                                    </p>
                                    <a href="#" class="boxed-btn3">Request Your Order</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- slider_area_end -->
    <!-- welcome_docmed_area_start -->
    <div class="welcome_docmed_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_thumb">
                        <div class="thumb_1">
                            <img src="~/img/about/1.png" alt="">
                        </div>
                        <div class="thumb_2">
                            <img src="~/img/about/2.png" alt="">
                        </div>
                    </div>
                </div>
                <div class="col-xl-6 col-lg-6">
                    <div class="welcome_docmed_info">
                        <h2>Welcome To Tshirt.lk</h2>
                        <h3>
                            We are Tshirt Designing and Printing <br>
                            Other Design Service
                        </h3>
                        <p>
                            You can give our Product Very Low Cost
                            And you give the Order for us or other Register Company you send Request Order with Design Or less
                            or we can do any Other design Poster, Banner , leflert and any Design (This is Only Design )
                        </p>
                        <ul>
                            <li> <i class="flaticon-right"></i> Click Down Order Button </li>
                            <li> <i class="flaticon-right"></i> You Have Account Login To Account or Registar </li>
                            <li> <i class="flaticon-right"></i> Fill the Order Form and Have Design Add design</li>
                            <li> <i class="flaticon-right"></i> Confirm The Order</li>
                            <li> <i class="flaticon-right"></i> You Satisfy your Budger Request are Accept</li>
                        </ul>
                        <a href="#" class="boxed-btn3-white-2">Order Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- welcome_docmed_area_end -->
    <!-- offers_area_start -->
    <div class="our_department_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="section_title text-center mb-55">
                        <h3>Our Productions</h3>
                        <p>
                            Go To Your Want To Design Catogory<br>
                            Website Are Garanteed This Order and not Online Payment
                        </p>
                    </div>
                </div>
            </div>
            <div class="row">
                
                <div class="col-xl-4 col-md-6 col-lg-4" >
                    <div class="single_department">
                        <div class="department_thumb">
                            <img src="~/img/department/1.png" alt="">
                        </div>
                        <div class="department_content">
                            <h3><a href='@Url.Action("Progamming", "Overview", new { pagename="progamming"})'>Progamming</a></h3>
                            <p>This T shirt are Garanteed Our Company</p>
                            <a href='@Url.Action("Progamming", "Overview", new { pagename="progamming"})' class="learn_more">Click Here</a>
                        </div>
                    </div>
                </div>
              
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb">
                            <img src="~/img/department/2.png" alt="">
                        </div>
                        <div class="department_content">
                            <h3><a href='@Url.Action("Progamming", "Overview", new { pagename="couple"})'>Couple</a></h3>
                            <p>This T shirt are Garanteed Our Company</p>
                            <a href='@Url.Action("Progamming", "Overview", new { pagename="couple"})' class="learn_more">Click Here</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb">
                            <img src="~/img/department/3.png" alt="">
                        </div>
                        <div class="department_content">
                            <h3><a href='@Url.Action("Progamming", "Overview", new { pagename="family"})'>Family</a></h3>
                            <p>This T shirt are Garanteed Our Company</p>
                            <a href='@Url.Action("Progamming", "Overview", new { pagename="family"})' class="learn_more">Click Here</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb">
                            <img src="~/img/department/4.png" alt="">
                        </div>
                        <div class="department_content">
                            <h3><a href='@Url.Action("Progamming", "Overview", new { pagename="adventure"})'>Adventure</a></h3>
                            <p>This T shirt are Garanteed Our Company</p>
                            <a href='@Url.Action("Progamming", "Overview", new { pagename="adventure"})' class="learn_more">Click Here</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb">
                            <img src="~/img/department/5.png" alt="">
                        </div>
                        <div class="department_content">
                            <h3><a href='@Url.Action("Progamming", "Overview", new { pagename="games"})'>Games</a></h3>
                            <p>This T shirt are Garanteed Our Company</p>
                            <a href='@Url.Action("Progamming", "Overview", new { pagename="games"})' class="learn_more">Click Here</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-6 col-lg-4">
                    <div class="single_department">
                        <div class="department_thumb">
                            <img src="~/img/department/6.png" alt="">
                        </div>
                        <div class="department_content">
                            <h3><a href='@Url.Action("Progamming", "Overview", new { pagename="other"})'>other</a></h3>
                            <p>This T shirt are Garanteed Our Company</p>
                            <a href='@Url.Action("Progamming", "Overview", new { pagename="other"})' class="learn_more">Click Here</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- offers_area_end -->
    <
    <!-- business_expert_area_start  -->
    <div class="business_expert_area">
        <div class="business_tabs_area">
            <div class="container">
                <div class="row">
                    <div class="col-xl-12">
                        <ul class="nav" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                                   aria-selected="true">Excellent Services</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#home" role="tab" aria-controls="profile"
                                   aria-selected="false">Qualified Tshirt</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#home" role="tab" aria-controls="contact"
                                   aria-selected="false">Fast Delivery</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="border_bottom">
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">

                        <div class="row align-items-center">
                            <div class="col-xl-6 col-md-6">
                                <div class="business_info">
                                    <div class="icon">
                                        <i class="flaticon-first-aid-kit"></i>
                                    </div>
                                    <h3>Our Serive</h3>
                                    <p>
                                        we Give to Our Service user Friendly and we are Garanteed our order till complete
                                        we are Fast Delever Team in Delevery and Good Qulity. We are Design other Print Media
                                        (We give Only Designs) and we give Unlimited Revision Your Not Satisfy our Design
                                        Thank You
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="business_thumb">
                                    <img src="~/img/about/business.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-md-6">
                                <div class="business_info">
                                    <div class="icon">
                                        <i class="flaticon-first-aid-kit"></i>
                                    </div>
                                    <h3>Leading edge care for Your family</h3>
                                    <p>
                                        Esteem spirit temper too say adieus who direct esteem.
                                        It esteems luckily picture placing drawing. Apartments frequently or motionless on
                                        reasonable projecting expression.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="business_thumb">
                                    <img src="~/img/about/business.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                        <div class="row align-items-center">
                            <div class="col-xl-6 col-md-6">
                                <div class="business_info">
                                    <div class="icon">
                                        <i class="flaticon-first-aid-kit"></i>
                                    </div>
                                    <h3>Leading edge care for Your family</h3>
                                    <p>
                                        Esteem spirit temper too say adieus who direct esteem.
                                        It esteems luckily picture placing drawing. Apartments frequently or motionless on
                                        reasonable projecting expression.
                                    </p>
                                </div>
                            </div>
                            <div class="col-xl-6 col-md-6">
                                <div class="business_thumb">
                                    <img src="~/img/about/business.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- business_expert_area_end  -->
    <!-- expert_doctors_area_start -->
    <div class="expert_doctors_area">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="doctors_title mb-55">
                        <h3>Service Category</h3>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xl-12">
                    <div class="expert_active owl-carousel">
                        <div class="single_expert">
                            <div class="expert_thumb">
                                <img src="~/img/experts/1.png" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Tshirt </h3>
                                <span>Design-Print-Delevery</span>
                            </div>
                        </div>
                        <div class="single_expert">
                            <div class="expert_thumb">
                                <img src="~/img/experts/2.png" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Logo</h3>
                                <span>Only Design</span>
                            </div>
                        </div>
                        <div class="single_expert">
                            <div class="expert_thumb">
                                <img src="~/img/experts/3.png" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Book Cover</h3>
                                <span>Only Design</span>
                            </div>
                        </div>
                        <div class="single_expert">
                            <div class="expert_thumb">
                                <img src="~/img/experts/4.png" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Banner</h3>
                                <span>only Design</span>
                            </div>
                        </div>
                        <div class="single_expert">
                            <div class="expert_thumb">
                                <img src="~/img/experts/5.png" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Letter Head</h3>
                                <span>Only Design</span>
                            </div>
                        </div>
                        <div class="single_expert">
                            <div class="expert_thumb">
                                <img src="~/img/experts/6.png" alt="">
                            </div>
                            <div class="experts_name text-center">
                                <h3>Other Print</h3>
                                <span>Only Design</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- expert_doctors_area_end -->
    <!-- Emergency_contact start -->
    <div class="Emergency_contact">
        <div class="conatiner-fluid p-0">
            <div class="row no-gutters">
                <div class="col-xl-6">
                    <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_1 overlay_skyblue">
                        <div class="info">
                            <h3>Coustomize Tshirt order</h3>
                            <p>Click the button get Custom Order</p>
                        </div>
                        <div class="info_button">
                            <a href="#" class="boxed-btn3-white">+9471 21 25 166</a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-6">
                    <div class="single_emergency d-flex align-items-center justify-content-center emergency_bg_2 overlay_skyblue">
                        <div class="info">
                            <h3>Customize Any Other Design Order</h3>
                            <p>Any Other Design order Ex: Logo, Lette Head, etc ...</p>
                        </div>
                        <div class="info_button">
                            <a href="#" class="boxed-btn3-white">Request Design</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Emergency_contact end -->

</body>
</html>