@{
    Layout = "~/Views/Shared/Header.cshtml";
    var singleimages = ViewBag.singleimage;
    var reply = ViewBag.reply;
}
<body>
    <div class="container">
        <div class="row">
            <div class="col-sm" style="background:#007bff; border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;margin-bottom:20px">
                <h2 style="text-align:center; color:white">MY Order </h2>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                @*<img class="img-fluid" src="~/img/orderimage/@singleimages.offerImage" alt="">*@
                <img class="img-fluid" src="~/img/orderimage/tshirtoffer.png" style="width:100%" alt="">
            </div>

            <div class="col-sm" style="margin-left:10px; background-color:aliceblue">
                <div class="row" style="margin-bottom:10px; margin-top:20px;">

                    <div class="col-sm" style="background:#28a745;  padding:10px 10px 10px 10px; color:white; text-align:center">You Can Delevry for Days</div>
                    <div class="col-sm" style="background:#20c997; padding:10px 10px 10px 10px; text-align:center"> @singleimages.offerNumberOfDay  Day </div>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <div class="col-sm" style="background:#28a745;  padding:10px 10px 10px 10px; color:white; text-align:center">Buyer Request Prices </div>
                    <div class="col-sm" style="background:#20c997; padding:10px 10px 10px 10px; text-align:center"> @singleimages.offerAmount  </div>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <div class="col-sm" style="background:#28a745;  padding:10px 10px 10px 10px; color:white; text-align:center"> Delevery Thats Address</div>
                    <div class="col-sm" style="background:#20c997; padding:10px 10px 10px 10px; text-align:center"> @singleimages.offerDeleveryAddress</div>
                </div>
                <div class="row" style="margin-bottom:10px">

                    <div class="col-sm" style="background:#28a745;  padding:10px 10px 10px 10px; color:white; text-align:center"> @singleimages.offerDescriptions</div>
                </div>
            </div>
            <div class="col-sm" style="margin-left:10px; background-color:aliceblue">
                <div class="row" style="margin-bottom:10px; margin-top:70px">
                    <div class="col-sm" style="background:#28a745;  padding:10px 10px 10px 10px; color:white; text-align:center">Company Details</div>
                </div>
                <div class="row" style="margin-bottom:10px">
                    <div class="col-sm" style="background:#20c997;  padding:10px 10px 10px 10px; color:white; text-align:center"> Ceylon Print Web Team <br /> 071 21 25 166 <br />Narahenpita, Colombo 05</div>
                </div>
            </div>
        </div>
        <div class="row" style="background-color:dimgrey; height:1px; margin-top: 20px">

        </div>

        @{
            foreach (var replys in reply)
            {
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm">
                        @*<img class="img-fluid" src="~/img/orderimage/@singleimages.offerImage" alt="">*@
                        <img class="img-fluid" src="~/img/orderimage/tshirtoffer.png" style="width:100%" alt="">
                    </div>

                    <div class="col-sm" style="margin-left:10px; background-color:aliceblue">
                        <div class="row" style="margin-bottom:10px; margin-top:20px;">

                            <div class="col-sm" style="background:#28a745;  padding:10px 10px 10px 10px; color:white; text-align:center">My Offer Amount</div>
                            <div class="col-sm" style="background:#20c997; padding:10px 10px 10px 10px; text-align:center"> @replys.enterAmount </div>
                        </div>
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-sm" style="background:#28a745;  padding:10px 10px 10px 10px; color:white; text-align:center">My Special Notice </div>
                            <div class="col-sm" style="background:#20c997; padding:10px 10px 10px 10px; text-align:center"> @replys.enterspecialNotice  </div>
                        </div>
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-sm" style="background:#28a745;  padding:10px 10px 10px 10px; color:white; text-align:center"> My Duration Work Out</div>
                            <div class="col-sm" style="background:#20c997; padding:10px 10px 10px 10px; text-align:center"> @replys.enterDurations</div>
                        </div>
                        <div class="row" style="margin-bottom:10px">

                            <div class="col-sm" style="background:#28a745;  padding:10px 10px 10px 10px; color:white; text-align:center"> My Discription Who is I Am or My Experience</div>
                        </div>
                        <div class="row" style="margin-bottom:10px">

                            <div class="col-sm" style="background:#20c997; padding:10px 10px 10px 10px; text-align:center"> @replys.offerdescription</div>
                        </div>
                        <div class="row" style="margin-bottom:10px">

                            <button type="button" class="btn btn-primary" style="width: 100%;">I Like This Offer I give My Order</button>
                        </div>

                    </div>
                    <div class="col-sm" style="margin-left:10px; background-color:aliceblue">
                        <div class="row" style="margin-bottom:10px; margin-top:70px">
                            <div class="col-sm" style="background:#28a745;  padding:10px 10px 10px 10px; color:white; text-align:center">Company Details</div>
                        </div>
                        <div class="row" style="margin-bottom:10px">
                            <div class="col-sm" style="background:#20c997;  padding:10px 10px 10px 10px; color:white; text-align:center"> Ceylon Print Web Team <br /> 071 21 25 166 <br />Narahenpita, Colombo 05</div>
                        </div>
                    </div>
                </div>
                <div class="row" style="margin-top:20px;">
                    <div class="col-sm" style="margin-left:10px; background-color:aliceblue">
                        <div class="row" style="background:#28a745;  padding:10px 10px 10px 10px; color:white; text-align:center">
                            I send in dfsinl
                        </div>
                        <div class="row" style="background:#20c997; padding:10px 10px 10px 10px; text-align:center; margin-top:5px">
                            I send in dfsinl
                        </div>
                    </div>
                    <div class="col-sm" style="margin-left:10px; background-color:aliceblue; padding:10px 10px 10px 10px;">
                        <div class="row">
                        </div>
                        <div class="row" style="padding:20px 20px 20px 20px;">
                            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3" style="width:100%; "></textarea>
                        </div>
                        <div class="row" style="padding:20px 20px 20px 20px;">
                            <button type="button" class="btn btn-primary" style="width: 100%;">Send Massage</button>
                        </div>

                    </div>

                </div>
                <div class="row" style="background-color:dimgrey; height:1px; margin-top: 20px">

                </div>
            }
        }
        <hr />
    </div>
                <!--================Blog Area =================-->
                @*<section class="blog_area single-post-area section-padding">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 posts-list">
                                <div class="single-post">
                                    <div class="feature-img">
                                        <img class="img-fluid" src="~/img/orderimage/@singleimages.offerImage" alt="">
                                    </div>
                                    <div class="col-md-12" style="background-color:black; padding:10px">
                                        <h4 style="color:white">You Can Delevry for Days :  @singleimages.offerNumberOfDay  Day</h4>
                                    </div>
                                    <br />
                                    <div class="feature-img">
                                        <h2 style="color:dodgerblue">Buyer Request Prices : @singleimages.offerAmount </h2>
                                    </div>
                                    <div class="feature-img">
                                        <h4 style="color:palevioletred">This Order 10% you shoud Pay Company </h4>
                                    </div>
                                    <div class="blog_details">
                                        <h2>
                                            You Can Send This Offer That Order and You should Delevery Thats Address
                                        </h2>
                                        <ul class="blog-info-link mt-3 mb-4">
                                            <li><a href="#"><i class="fa fa-user"></i> @singleimages.offerDeleveryAddress</a></li>
                                            <li><a href="#"><i class="fa fa-comments"></i>call ceylon print web: 071 21 25 166</a></li>
                                        </ul>
                                        <p class="excert">
                                            @singleimages.offerDescriptions
                                        </p>
                                    </div>
                                </div>
                                @{
                                    foreach (var replys in reply)
                                    {
                                <div class="container"></div>
                                    <div class="row">
                                        <div class="col-md-12" style="background:red">
                                            I Want To:  @replys.enterspecialNotice  Day
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="col-md-3">I want to</div><div class="col-md-6">@replys.enterAmount</div>
                                        </div>
                                    </div>
                                    <div class="single-post">
                                        <div class="col-md-12" style="background-color:black; padding:10px">
                                            <h4 style="color:white">I Want To:  @replys.enterspecialNotice  Day</h4>
                                        </div>
                                        <br />
                                        <div class="feature-img">
                                            <h2 style="color:dodgerblue">My Prices : @replys.enterAmount </h2>
                                        </div>
                                        <div class="feature-img">
                                            <h4 style="color:palevioletred">You Like This Price Catogory please click confirm Button </h4>
                                        </div>
                                        <div class="blog_details">
                                            <h2>
                                                You Can Send This Offer That Order and You should Delevery Thats Address
                                            </h2>
                                            <ul class="blog-info-link mt-3 mb-4">
                                                <li><a href="#"><i class="fa fa-user"></i> @replys.enterDurations</a></li>
                                                <li><a href="#"><i class="fa fa-comments"></i>call ceylon print web: 071 21 25 166</a></li>
                                            </ul>
                                            <p class="excert">
                                                @replys.offerdescription
                                            </p>
                                        </div>
                                        <div class="blog_details">
                                            <input type="submit" name="submit" placeholder="I Like This Offer"
                                                   onfocus="this.placeholder = ''" onblur="this.placeholder = 'Secondary color'"
                                                   required class="genric-btn primary-border e-large">
                                        </div>
                                        <div class="blog_details"></div>
                                    </div>
                                    }
                                    }


                                    <div class="comment-form">
                                        <h4>You Can Order Now Tshirt </h4>
                                        @using (Html.BeginForm())
                                        {

                                            <div class="row">
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" name="tshirtid" id="offerId" type="hidden" placeholder="Name" value="@singleimages.offerId">
                                                    </div>
                                                </div>
                                                <div class="col-12">
                                                    <div class="form-group">
                                                        <textarea class="form-control w-100" name="offerdescription" id="comment" cols="30" rows="9"
                                                                  placeholder="Enter offer Description "></textarea>
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input class="form-control" name="enterspecialNotice" id="name" type="text" placeholder="Enter special Notice">
                                                    </div>
                                                </div>
                                                <div class="col-sm-6">
                                                    <div class="form-group">
                                                        <input typeof="number" class="form-control" name="enterDurations" id="email" type="number" placeholder="Enter Durations">
                                                    </div>
                                                </div>
                                                <div class="col-sm-12">
                                                    <div class="form-group">
                                                        <input typeof="number" class="form-control" name="enterAmount" id="name" type="number" placeholder="Enter Amount ">
                                                    </div>
                                                </div>

                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="button button-contactForm btn_1 boxed-btn">Send Your Order</button>
                                            </div>

                                        }
                                    </div>
                                </div>

                            <div class="col-lg-4">
                                <div class="blog_right_sidebar">
                                    <aside class="single_sidebar_widget search_widget">
                                        <form action="#">
                                            <div class="form-group">
                                                <div class="input-group mb-3">
                                                    <input type="text" class="form-control" placeholder='Search Keyword'
                                                           onfocus="this.placeholder = ''" onblur="this.placeholder = 'Search Keyword'">
                                                    <div class="input-group-append">
                                                        <button class="btn" type="button"><i class="ti-search"></i></button>
                                                    </div>
                                                </div>
                                            </div>
                                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                                    type="submit">
                                                Search
                                            </button>
                                        </form>
                                    </aside>
                                    <aside class="single_sidebar_widget post_category_widget">
                                        <h4 class="widget_title">Category</h4>
                                        <ul class="list cat-list">
                                            <li>
                                                <a href="#" class="d-flex">
                                                    <p>Progamming</p>
                                                    <p>(1)</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex">
                                                    <p>Couple</p>
                                                    <p>(10)</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex">
                                                    <p>Games</p>
                                                    <p>(03)</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex">
                                                    <p>Family</p>
                                                    <p>(11)</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex">
                                                    <p>Other</p>
                                                    <p>(21)</p>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" class="d-flex">
                                                    <p>Adventure</p>
                                                    <p>(21)</p>
                                                </a>
                                            </li>
                                        </ul>
                                    </aside>

                                    <aside class="single_sidebar_widget newsletter_widget">
                                        <h4 class="widget_title">About Us Comment</h4>
                                        <form action="#">
                                            <div class="form-group">
                                                <input type="text" class="form-control" onfocus="this.placeholder = ''"
                                                       onblur="this.placeholder = 'Enter Antry'" placeholder='Enter Antry' required>
                                            </div>
                                            <button class="button rounded-0 primary-bg text-white w-100 btn_1 boxed-btn"
                                                    type="submit">
                                                Send Entry
                                            </button>
                                        </form>
                                    </aside>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                <!-- link that opens popup -->
                <!-- form itself end-->
                <form id="test-form" class="white-popup-block mfp-hide">
                    <div class="popup_box ">
                        <div class="popup_inner">
                            <h3>Make an Appointment</h3>
                            <form action="#">
                                <div class="row">
                                    <div class="col-xl-6">
                                        <input id="datepicker" placeholder="Pick date">
                                    </div>
                                    <div class="col-xl-6">
                                        <input id="datepicker2" placeholder="Suitable time">
                                    </div>
                                    <div class="col-xl-6">
                                        <select class="form-select wide" id="default-select" class="">
                                            <option data-display="Select Department">Department</option>
                                            <option value="1">Eye Care</option>
                                            <option value="2">Physical Therapy</option>
                                            <option value="3">Dental Care</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6">
                                        <select class="form-select wide" id="default-select" class="">
                                            <option data-display="Doctors">Doctors</option>
                                            <option value="1">Mirazul Alom</option>
                                            <option value="2">Monzul Alom</option>
                                            <option value="3">Azizul Isalm</option>
                                        </select>
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="text" placeholder="Name">
                                    </div>
                                    <div class="col-xl-6">
                                        <input type="text" placeholder="Phone no.">
                                    </div>
                                    <div class="col-xl-12">
                                        <input type="email" placeholder="Email">
                                    </div>
                                    <div class="col-xl-12">
                                        <button type="submit" class="boxed-btn3">Send Your Order</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </form>
                <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
                <script>
                    function submitform(thiss) {
                        $('form').submit();
                    }
                </script>*@
</body>