
@{
    Layout = "~/Views/Shared/Header.cshtml";

}
<head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="container">
    <div class="row" id="webtemplatetitle" style="margin-bottom:20px">
        <div class="col-md col-sm" style="border-radius:15px 15px 15px 15px;"><img src="~/img/orderimage/templatemain.png" style="width:100%; border-radius:15px 15px 15px 15px;" /></div>
    </div>
    <div class="row" id="webtemplatetitle" style="background-color:#f8f9fa; border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-md col-sm">
            <h4 style="color:green">
                <i class="fa fa-download"></i>  Moblile Responsive Bootstrap Web Template..
            </h4>
        </div>
    </div>
    <div class="row" id="webtemplatetitle" style=" border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-md col-sm">
            <img src="~/img/orderimage/web.png" style="width:100%" />
        </div>
        <div class="col-md col-sm">

            <h4 style="color:green"><i class="fa fa-cogs" aria-hidden="true"></i>  Free Download Web Template</h4><br />
            <p style="font-family:Courier New; text-align:justify">
                - Download Mobile Responsive Web Template
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Template is Unique Our Website
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Web Template Is Primium Qulity
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Web Template Issue Our Web Site Free
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Web Page Costomize is Easy To Developer
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Web Page Only Using Bootstrap
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Template using bootstrap cdn link
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Download and Costomize web page
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Click "View Template" Button And Show Our Web Template And Download
            </p>
            <a  href='@Url.Action("Bootstrap", "Home")'>
                <button type="button" class="btn btn-outline-success" style="width:100%">View Template</button>
            </a>
           </div>
    </div>
    <div class="row" id="webtemplatetitle" style="background-color:#f8f9fa; border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-md col-sm">
            <h4 style="color:green"> <i class="fa fa-download"></i> Android Template..</h4>
        </div>
    </div>
    <div class="row" id="webtemplatetitle" style=" border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-md col-sm">
            <h4 style="color:green"><i class="fa fa-cogs" aria-hidden="true"></i>  Free Download Mobile Template</h4>

            <p style="font-family:Courier New; text-align:justify">
                - Download Mobile Responsive Web Template
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Template is Unique Our Website
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Web Template Is Primium Qulity
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Web Template Issue Our Web Site Free
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Web Page Costomize is Easy To Developer
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Web Page Only Using Bootstrap
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Template using bootstrap cdn link
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Download and Costomize web page
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Click "View Template" Button And Show Our Web Template And Download
            </p>
            <a  href='@Url.Action("Android", "Home")'>
                <button type="button" class="btn btn-outline-success" style="width:100%">View Template</button>
            </a>
        </div>
        <div class="col-md col-sm">
            <img src="~/img/orderimage/mobile.png" style="width:100%" />
        </div>

    </div>

    <div class="row" id="webtemplatetitle" style="background-color:#f8f9fa; border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-md col-sm">
            <h4 style="color:green">
                <i class="fa fa-download"></i>  Flutter Template
            </h4>
        </div>
    </div>
    <div class="row" id="webtemplatetitle" style=" border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-md col-sm">
            <img src="~/img/orderimage/web.png" style="width:100%" />
        </div>
        <div class="col-md col-sm">

            <h4 style="color:green"><i class="fa fa-cogs" aria-hidden="true"></i>  Free Download Flutter Template</h4><br />
            <p style="font-family:Courier New; text-align:justify">
                - Download Mobile Responsive Web Template
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Template is Unique Our Website
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Web Template Is Primium Qulity
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Web Template Issue Our Web Site Free
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Web Page Costomize is Easy To Developer
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Web Page Only Using Bootstrap
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Template using bootstrap cdn link
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Download and Costomize web page
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Click "View Template" Button And Show Our Web Template And Download
            </p>
            <a  href='@Url.Action("Flutter", "Home")'>
                <button type="button" class="btn btn-outline-success" style="width:100%">View Template</button>
            </a>
        </div>
    </div>

    <div class="row" style="border-bottom: 1px; border-width:1px;">

    </div>
    <div class="row" style="background-color:#f8f9fa; margin-bottom:30px; color:white; text-align: center; padding:30px 30px 30px 30px;">
        
    </div>
    <div class="row" id="webtemplatetitle" style="background-color:#f8f9fa; border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-sm">
            <h4 style="color:green"> <i class="fa fa-download"></i>This Month Best One Template - WEB </h4>
        </div>
    </div>
    <div class="row" id="webtemplatetitle" style=" border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-md col-sm">
            <h4 style="color:green"><i class="fa fa-cogs" aria-hidden="true"></i>  Best one Rank Template Web</h4>

            <p style="font-family:Courier New; text-align:justify">
                - This is Best Download This Month Template
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Good Rating This Month Template
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Web Template Is Primium Qulity
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Web Template Issue Our Web Site Free
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Web Page Costomize is Easy To Developer
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Web Page Only Using Bootstrap
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Template using bootstrap cdn link
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Download and Costomize web page
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Click "View Template" Button And Show Our Web Template And Download
            </p>
            <a href='@Url.Action("TemplateDownload", "Home",new {tempplateid = 2 })'>
                <button type="button" class="btn btn-outline-success" style="width:100%">View | Download Template</button>
            </a>

        </div>
        <div class="col-md col-sm">
            <img src="~/img/orderimage/web.png" style="width:100%" />
        </div>

    </div>
    <div class="row" id="webtemplatetitle" style="background-color:#f8f9fa; border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-md col-sm">
            <h4 style="color:green"> <i class="fa fa-download"></i> This Month Best One Template - Mobile </h4>
        </div>
    </div>
    <div class="row" id="webtemplatetitle" style=" border-radius:10px 10px 10px 10px; padding:20px 20px 20px 20px;">
        <div class="col-md col-sm">
            <img src="~/img/orderimage/mobile.png" style="width:100%" />
        </div>
        <div class="col-md col-sm">
            <h4 style="color:green"><i class="fa fa-cogs" aria-hidden="true"></i>  Best one Rank Template Web</h4>

            <p style="font-family:Courier New; text-align:justify">
                - Download Mobile Responsive Web Template
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Template is Unique Our Website
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Web Template Is Primium Qulity
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Web Template Issue Our Web Site Free
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Web Page Costomize is Easy To Developer
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Web Page Only Using Bootstrap
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - This Template using bootstrap cdn link
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Download and Costomize web page
            </p>
            <p style="font-family:Courier New; text-align:justify">
                - Click "View Template" Button And Show Our Web Template And Download
            </p>
            <a href='@Url.Action("TemplateDownload", "Home",new {tempplateid = 2 })'>
                <button type="button" class="btn btn-outline-success" style="width:100%">View | Download Template</button>
            </a>

        </div>


    </div>
</div>
